// Define variables for your color scheme

// For example:
// $red: #FD1015;
$red: #FAA2A2;
$redDark : #B55A5A;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #ffa007;
$green: #86d6b2;
$greenDark: #146441;
$gray: #0E0000;
$light-gray: #F5F5F5;
