<p>Dear patient,</p>
<p>A checkup with a cardiologist was recommended to you by your referring doctor. </p><br>
<p>Please follow the link to make an appointement :</p>
<a href=""></a>

Sincerely,

The Cardiologic Team
