<div class="mb-5">
<h1>My analyses</h1>
</div>

<div class="mb-4">
<p>2023 </p>
<div style="color: rgb(16,24,41); background: rgb(16,24,41); height: 1px;"></div>
</div>


<%  @consultations.each do |consultation| %>
  <%= render "consultation", consultation: consultation%>
<%#= consultation.diagnostic %>
<%#= consultation.created_at.strftime("%Y-%m-%d") %>
<%#= consultation.patient.first_name%>
<%#= consultation.patient.last_name%>
<%#= link_to "a", consultation_path(consultation) %>
<%end %>
