
<div class="ecg-flex-container" style="margin-bottom:3rem;">
    <h1 class="display-6 pt-4 pb-2" style="margin-top:1rem;">My analyses</h1>
</div>

<div class="mb-4">
<p>2023 </p>
<div style="color: rgb(16,24,41); background: rgb(16,24,41); height: 1px;"></div>
</div>

<div style="display: grid; grid-template-columns: 1fr 1fr;">
  <%  @consultations.each do |consultation| %>
    <%= render "consultation", consultation: consultation %>
  <%end %>
</div>
