<%= line_chart @data, min: 500, points: false %>


<%#= @consultation.diagnostic %>

<% if @consultation.diagnostic == "rouge" %>
<div class="container consultation" data-controller="consultation-subscription" data-consultation-subscription-consultation-id-value=" <%= @consultation.id %>">
  <%= render "chat" %>
</div>
<% end %>
