<div class="container" data-controller="toto" >

<h1>Page de test</h1>
</div>
<div class="ecg-flex-container">
  <div  style="" class="capsule scale-up-bl"> sqdkjfh qsdkjs  qsJHZk sqKjd jdshdkjD ksd cKJSKjqhdqC KJSDK  sdkJH  SDKFJhsd  kjhkF jdskDCKd c
    <div style="animation-delay: 2s;background-color:white; border-radius:1rem;" class="fadeIn">
    <%= line_chart @data, min: 500, points: false %>
    </div>
  </div>
  <div style="flex-shrink:2; animation-delay: 0.4s;" class="capsule scale-up-bl"> sqdkjfh qsdkjs  qsJHZk sqKjd jdshdkjD ksd cKJSKjqhdqC KJSDK  sdkJH  SDKFJhsd  kjhkF jdskDCKd c

  </div>
<div class="toto" style="border:1px solid red">tonon</div>
</div>


<form name="mytheme">
  <label class="btToggle">
    <span class="btn">
      <input type="checkbox" name="theme-mode">
      <span class="slider"></span>
    </span>
    <span class="label">White mode</span>
  </label>
</form>


<div class="colorTest">
  D A Y
</div>
<div class="colorTestNight">
  N I G H T
</div>

<div style="display:flex;">
  <div class="colorTest gray0"> D A Y  $gray0</div>
  <div class="colorTest gray10"> D A Y $gray10</div>
  <div class="colorTest gray20"> D A Y $gray20</div>
  <div class="colorTest gray30"> D A Y $gray30</div>
  <div class="colorTest gray40"> D A Y $gray40</div>
  <div class="colorTest gray50"> D A Y $gray50</div>
  <div class="colorTest gray60"> D A Y $gra60</div>
  <div class="colorTest gray70"> D A Y $gray70</div>
  <div class="colorTest gray80"> D A Y $gray80</div>
  <div class="colorTest gray90"> D A Y $gray90</div>
  <div class="colorTest gray100"> D A Y $gray100</div>

</div>
