<div class="container" data-controller="toto" >

<h1>Page de test</h1>
</div>
<div class="ecg-flex-container">
  <div  style="" class="capsule scale-up-bl"> sqdkjfh qsdkjs  qsJHZk sqKjd jdshdkjD ksd cKJSKjqhdqC KJSDK  sdkJH  SDKFJhsd  kjhkF jdskDCKd c
    <div style="animation-delay: 2s;background-color:white; border-radius:1rem;" class="fadeIn">
    <%= line_chart @data, min: 500, points: false %>
    </div>
  </div>
  <div style="flex-shrink:2; animation-delay: 0.4s;" class="capsule scale-up-bl"> sqdkjfh qsdkjs  qsJHZk sqKjd jdshdkjD ksd cKJSKjqhdqC KJSDK  sdkJH  SDKFJhsd  kjhkF jdskDCKd c

  </div>
<div class="toto" style="border:1px solid red">tonon</div>
</div>
