// .card-consultation{
//   border: dahsed;
// }
// .card-consultation > div {
//   border:solid 1px red;
// }
// .card-consultation .date {
//   width:75%;
// }


.card-consultation{
  width: 0.5rem;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  color: $gray90;

}
.card-consultation h3 {
  color: $gray90;


}



.green {
  background-color: $green;
}
.red {
  background-color: $redDark;
}
.orange {
  background-color: $orange;
}
.date-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0rem 1rem;
  margin-top: 20px; margin-bottom: 15px; border-right: solid #CCCCCC;
  min-width: 8rem;
}

.dateTop{
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0.5;
}
.dateBottom{
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0.5;
}
