
.ekg-details {

  // display: flex;
  // flex-flow: column wrap;

  margin-top: 1rem;

}
.ekg-details h2 {
}

@keyframes bouncer {
  from {
    transform: translateX(-50vw);
  }
  to {
    transform: translateX(50vw);
  }
}

.ekg-list  {

  // border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
  color: $redDark;
  display: flex; /* or inline-flex */
  flex-flow: row wrap;

  gap: 1rem; /* row-gap column gap */
  padding-top: 0.5rem;

}

.ekg-list div {

  // width: 13rem;
  // background-color: $orange;
  color: white;
  border-radius: 1rem;
  flex:auto;
}



.ekg-list div.splitVertical, .ekg-list p.splitVertical  {
  // border: 1px solid red;
  // gap: $border-radius;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.ekg-list div.bpm {
  background-color:$redDark;
  text-align: center;
}

.ekg-list div.bpm strong {
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 0;
  margin-top: 1rem;
}

.ekg-list div.bpm p {
  margin-top: 0;
}

.ekg-list div.bpm img {
  color: #000000;
  margin: 1rem auto;
}

.ekg-list div.interval{
  display: flex;
  text-align: right;
  height: 50%;
  padding: $border-radius;
  justify-content: space-around;

}
.ekg-list div.interval strong {
  margin:0;
  display: block;
  font-weight: 100;
  text-align: right;
  font-size: 3rem;
}
.ekg-list div.interval p {
margin: 0;
line-height:1rem;
}


.ekg-list div.alerteRouge{
  background-color: $redDark;
  animation-name: rubberBand;
  animation-delay: 3s;
}


.ekg-list div.alerteOrange{
  background-color: $orange;
  animation-name: rubberBand;
  animation-delay: 3s;
}

.ekg-list div.alerteVerte{
  background-color: $green;
  color: $greenDark;
}

.ekg-list p {
}
.ekg-list ul {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1em 0.5em;
  // width: 100%;
  margin: 0;
  margin-bottom: 3rem;
}
.ekg-list li {
  // display:inline-block;
  list-style-position: -10rem;
  width: 24%;
  list-style-type: none;
  border-left: 1px solid $gray30;
  // animation: fade 0.8s ease-in-out 4s;
  // transition: all 0.3s ease-in-out;
  animation-name: fade;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-delay: 4s;


  color: $gray;
  padding: 1rem;
  // border: 1px solid red;


}
.ekg-list li:first-child {
  border-left: none;
}


@keyframes fade {
  0% {
    transform: opacity(0%);
    border-left: 1px;
  }
  50% {
    transform: opacity(10%);
    border-left: 8px;;

  }
  100% {
    transform: opacity(90%);
    border-left: 30px;;

  }
}
