
.ekg-details {

  // display: flex;
  // flex-flow: column wrap;

  margin-top: 3rem;

}
.ekg-details h2 {
}

@keyframes bouncer {
  from {
    transform: translateX(-50vw);
  }
  to {
    transform: translateX(50vw);
  }
}

.ekg-list  {

  border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
  color: $redDark;
  display: flex; /* or inline-flex */
  flex-flow: row wrap;

  gap: 0.5rem 1rem; /* row-gap column gap */
  padding-top: 0.5rem;

}

.ekg-list div {

  width: 13rem;
  background-color: $orange;
  color: white;
  border-radius: 1rem;
  padding: 0.1rem 1rem;




}
.ekg-list div.alerteRouge{
  background-color: $redDark;
  animation-name: rubberBand;
  animation-delay: 3s;
}
.ekg-list div.alerteVerte{
  background-color: $green;
  color: $greenDark;
}


.ekg-list ul {
  display: flex;
  justify-content: space-between; ;
  gap: 1em 0.5em;
  // width: 100%;
  margin: 0;
  padding: 0;
}
.ekg-list li {
  // display:inline-block;
  list-style-position: -10rem;
  list-style-type: none;

  color: $redDark;
  padding: 1rem;


}
