
.search-bar {
  background-color: $orangeLight;
  border-radius: $border-radius;
  padding: $border-radius;
  transition: all 0.3s ease-in-out;

}
.search-form-txt {

}
.search-form-input {
  background-color: $gray10;
  border-radius: 0.5rem;
  padding: 0.5rem;

}
.search-form-cardio div {
  padding: $border-radius;
  // background-color: $gray10;
  border-top: 1px dashed rgba(0,0,0,0.3);
  transition: all 0.3s ease-in-out;
}
.search-form-cardio div:hover {
  background-color: rgba(255,255,255,0.2);
  cursor: pointer;
}

.search-form-cardio:nth-child(1) {
  margin-top: $border-radius;
  border-top: inherit;
  border-top: 1px solid rgba(0,0,0,0.3);
}

.search-form-cardio div + p {
  color: red;
}
.send-mail {
  border-radius: $border-radius;
  padding: 1rem;
  background-color: wheat;
}

.send-mail-champ {
  border-radius: $border-radius/2;
  padding: 0.5rem;
  background-color: white;
}


.txt-min {
  font-size: 0.8rem;
}



.bt-round-white {

  border-radius: 50%;
  background-color: white;
  padding: 0.4rem;
  border: 1px solid white;
  transition: all 0.3s ease-in-out;
  margin-left: 0.5rem;
}

.bt-round-white:hover {
  border: 4px


}
.zobi {
  transition: all 0.3s ease-in-out;


}
.toto-title {
  color: red;
  animation: toto 2s;
}

// wrapper col1 flex et col 2 flex shrink
.ecg-flex-container{
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
  justify-content:start
}

.capsuleLeft, .capsuleRight, .capsuleRightOrange {
  border-radius: 1rem 1rem 1rem 1rem;
  padding: 1rem;
  overflow: hidden;
}

.capsuleLeft {
  background-color: rgba(245, 245, 245, 1);

  flex-grow: 1;
}
.capsuleRight {
  background-color: #FAA2A2;
  width: 33%;

}

.capsuleRightOrange {
  background-color: rgba(245, 245, 245, 1);
  width: 33%;

}





$cd-btn-start: rgba(235, 20, 243, 0);
$cd-btn-end: rgb(80, 201, 36);

.bouton {
  background-color: cd-btn-start;
  border: 4px solid cd-btn-end;
  border-radius: 10rem;
  cursor: pointer;
  font-size: 1rem;
  overflow: hidden;
  padding: 1.85rem 3rem;
  position: relative;
  transition: transform 450ms, background-color 300ms 150ms;
  &:hover {
      transform: scale(1.13);
      background-color: cd-btn-end;
  }
}



.capsule {
  background-color: rgba(245, 245, 245, 1);
  border-radius: 1rem 1rem 1rem 0;
  padding: 1rem;
}


.toto {
  animation: toto 450ms;
}

@keyframes toto {
  0% {
    transform: scale(0%);
  }
  50% {
    transform: scale(10%);
  }
  100% {
    transform: scale(90%);
    transform-origin: -50%;
  }
}


@keyframes fade {
  0% {
    transform: opacity(0%);
  }
  50% {
    transform: opacity(10%);
  }
  100% {
    transform: opacity(90%);
  }
}
