///////////////////
/// dark mode experimental
:root {
  --color: dark;
  --body-color: white;
  --mise-en-page-bg: white;
  --form-bg: white;
  --form-border-color: #313131;
}
.mode-dark {
  --color: white;
  --body-color: black;
  --mise-en-page-bg: #232323;
  --form-bg: #232323;
  --form-border-color: #ccc;
}

body{
  color: var(--color);
  background-color: var(--body-color);
}
form{padding:5px;
  border-color: var(--form-border-color);
  border-style:solid;
  border-width: 1px 0;
  background-color: var(--form-bg);
}

.btToggle .btn {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  line-height : 34px;
  color:#fff;
}

/* Hide default HTML checkbox */
.btToggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.btToggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right:0;
  background-color: #000;
  border-radius: 34px;
  white-space : nowrap;
}

.btToggle .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
}

.btToggle input:checked + .slider {
  background-color: #fff;
  padding-left: 18px;
  padding-right: 36px;
}

.btToggle input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
  color:#000;
}

.btToggle input:checked + .slider:before {
  right:4px;
  left:auto;
  background-color: #000;
}

.mise-en-page-lien .bloc-mise-en-page{
  background-color: var(--mise-en-page-bg);
}

.bloc-lien a:link, .bloc-lien a:visited, .bloc-lien a{
  color: var(--color);
}
///////////////////////////////




.toto-title {
  color: red;
  animation: toto 2s;
}

// wrapper col1 flex et col 2 flex shrink
.ecg-flex-container{
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 75%;
  margin: 0 auto;
  justify-content:start
}

.capsuleLeft, .capsuleRight {
  border-radius: 1rem 1rem 1rem 1rem;
  padding: 1rem;
  overflow: hidden;
}

.capsuleLeft {
  background-color: rgba(245, 245, 245, 1);

  flex-grow: 1;
}
.capsuleRight {
  background-color: #FAA2A2;
  width: 33%;

}



$cd-btn-start: rgba(235, 20, 243, 0);
$cd-btn-end: rgb(80, 201, 36);

.bouton {
  background-color: cd-btn-start;
  border: 4px solid cd-btn-end;
  border-radius: 10rem;
  cursor: pointer;
  font-size: 1rem;
  overflow: hidden;
  padding: 1.85rem 3rem;
  position: relative;
  transition: transform 450ms, background-color 300ms 150ms;
  &:hover {
      transform: scale(1.13);
      background-color: cd-btn-end;
  }
}



.capsule {
  background-color: rgba(245, 245, 245, 1);
  border-radius: 1rem 1rem 1rem 0;
  padding: 1rem;
}


.toto {
  animation: toto 450ms;
}

@keyframes toto {
  0% {
    transform: scale(0%);
  }
  50% {
    transform: scale(10%);
  }
  100% {
    transform: scale(90%);
    transform-origin: -50%;
  }
}


@keyframes fade {
  0% {
    transform: opacity(0%);
  }
  50% {
    transform: opacity(10%);
  }
  100% {
    transform: opacity(90%);
  }
}
