
.perspective, .perspective_min {
  cursor: pointer;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
}

.perspective:hover {
  transform: perspective(100px) translateZ(5px);
}

.perspective_min:hover {
  transform: perspective(100px) translateZ(1px);
}


#zone {
  height: 250px;
  width: 100%;
  border: 4px dashed #CCCCCC;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  // cursor: pointer;
  // transform: perspective(100px) translateZ(0px);
  // transition: transform 100ms linear;
  // transition: all 0.3s ease;
}

#zone:hover {
  border-color: #CCCCCC;
  border-style: dash 10px;
  background-color: $gray0;
  // transform: translateZ(16000px);
  transform: perspective(100px) translateZ(5px);

}

.up {
  margin-top: 0rem;
  transition: all 0.3s ease;
  text-align: center;
  line-height: 1.3;
}


#zone:hover img {
  width:6rem;
  margin-bottom: -3rem;


}
#zone img {
  width:4.5rem;
  margin: 0 auto;
  transition: all 0.3s ease;

}

#zone:hover .up {
  margin-top: -3rem;
}
